.galleryCaptionTitle {
  position: absolute;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  inset: auto auto 10rem 10rem
}

.galleryContainer {
  /* height: 50rem; */
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3vw;
  row-gap: 2vw;
}

.galleryBoxH {
  width: 25vw;
  height: 30vh;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.galleryBoxH:hover {
  filter: blur(1px) brightness(80%);
}

.galleryCaption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
}