.galleryFlex {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.galleryCaptionContainer {
  position: absolute;
  color: white;
  bottom: 26vh;
  left: 9vw;
  display: flex;
  flex-direction: column;
}

.galleryCaptionTitle {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 2px;
}

.gallerySubCaption {
  font-size: 1.2vw;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.galleryContainer {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3vw;
  row-gap: 2vw;
}

.galleryBoxH {
  width: 25vw;
  height: 16vw;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.galleryBoxH:hover {
  filter: brightness(40%);
}

.galleryCaption {
  position: absolute;
  font-size: 0.85vw;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
  z-index: 1;
}

.galleryCaption:hover ~.galleryBoxH {
  filter: brightness(40%);
}

.galleryBlur {
  filter: blur(2px);
  z-index: -1;
}

@media screen and (min-width: 2560px) and (max-width: 3760px) {
  .galleryCaptionContainer {
    bottom: 25vh;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .galleryCaptionContainer {
    top: auto;
    bottom: 20vh;
    left: 10vw;
  }

  .gallerySubCaption {
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .galleryCaptionContainer {
    top: 65vh;
    left: 20vw;
  }

  .galleryCaptionContainer.blur {
    filter: blur(2px);
    top: 65vh;
  }

  .galleryCaptionTitle {
    font-size: 3.3vw;
    letter-spacing: 0.41px;
  }
  
  .gallerySubCaption {
    font-size: 1.5vw;
    letter-spacing: 0.41px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .galleryCaptionContainer {
    top: 33vh;
  }

  .galleryCaptionContainer.blur {
    filter: blur(2px);
    top: 33vh;
  }

  #gallery.heroImg {
    width: auto;
  }

  .galleryCaptionTitle {
    font-size: 4.4vw;
    letter-spacing: 0.41px;
  }
  
  .gallerySubCaption {
    font-size: 2vw;
    letter-spacing: 0.41px;
  }

  .galleryContainer {
    padding: 4rem;
  }
}