.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePicContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.homePicContainer.blur {
    filter: blur(2px);
    z-index: -1;
}

.homePic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

.homeCaptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #222222;
    top: 12vw;
    gap: 1rem;
}

.homeCaptionTitle {
    font-size: 2.5vw;
    font-weight: 900;
    letter-spacing: 3px;
}

.homeSubCaption {
    font-size: 1.2vw;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
}

#margin.homeSubCaption {
    margin-bottom: 3rem;
    margin-top: -0.5rem;
}

.homeButtons {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.copyright {
    color: #ffffff;
    font-weight: 300;
    font-size: 0.7vw;
    position: absolute;
    bottom: 1rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

@media screen and (min-width: 2560px) and (max-width: 3760px) {
    .homeCaptions {
        top: 12vw;
    }

    .homeCaptionTitle {
        font-size: 2.2vw;
        letter-spacing: 3px;
    }
    
    .homeSubCaption {
        font-size: 1vw;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .homeCaptions {
        top: 15vw;
    }

    #margin.homeSubCaption {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .homeCaptions {
        top: 14vw;
    }

    .homeCaptionTitle {
        letter-spacing: 2px;
    }

    .homeSubCaption {
        word-spacing: 1px;
        letter-spacing: 1px;
    }

    #margin.homeSubCaption {
        margin-bottom: 1rem;
    }

    .copyright {
        word-spacing: 1px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    .homeCaptions {
        top: 28vh;
        gap: 0.8rem;
    }

    .homeCaptionTitle {
        font-size: 3vw;
        letter-spacing: 1.5px;
    }

    .homeSubCaption {
        font-size: 1.5vw;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }

    #margin.homeSubCaption {
        margin-bottom: .5rem;
    }

    .homeButtons {
        gap: 4rem;
    }

    .copyright {
        word-spacing: 1px;
        font-size: 1vw;
        bottom: 0.5rem;
    }
}