.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePicContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.homePic {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

.homeCaptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #222222;
    top: 13rem;
    gap: 1rem;
}

.homeCaptionTitle {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 4px;
}

.homeSubCaption {
    font-size: 1.7rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#margin.homeSubCaption {
    margin-bottom: 3rem;
}

.homeButtons {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.copyright {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}