.homeViewContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding: 1rem;
    /* background-color: maroon; */
    color: #474747;
    align-items: center;
    gap: 5rem;
}

.homeDescriptionContainer {
    /* background-color: blueviolet; */
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
}

.homeDescription {
    font-size: 1.5rem;
}

.contactDescription {
    font-size: 1.8rem;
    font-weight: bolder;
}

.contactButtonContainer {
    /* background-color: steelblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.homeServices{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 80%;
    height: 100%;
    gap: 4rem;
}

.girlDogPic {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
}

.homeImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homePicSm {
    width: 30%;
    height: 45vh;
    object-fit: cover;
}

.homeImageCaptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8rem;
    padding-left: 6rem;
    position: relative;
    top: -3rem;
}

.homeImageCaption {
    font-size: 1.5rem;
}