.joinContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.joinPicContainer {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-end; */
  height: 92vh;
}

.joinCaption {
  position: absolute;
  color: white;
  bottom: 19vh;
  left: 9vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.joinCaptionTitle {
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: 2px;
}

.joinCaptionSub {
  font-size: 1.2vw;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

.joinViewContainer {
  display: flex;
  padding: 5rem 19rem;
  flex-direction: column;
  gap: 3.5rem;
  word-spacing: 0.1rem;
  text-align: center;
}

.joinContactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinParagraphCaption {
  color: #474747;
  font-weight: 700;
  font-size: 1vw;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.joinParagraph {
  color: #474747;
  font-weight: 300;
  font-size: 1vw;
  line-height: 1.6vw;
  letter-spacing: 1px;
}

.joinBlur {
  filter: blur(2px);
  z-index: -1;
}

@media screen and (min-width: 2560px) and (max-width: 3760px) {
  .joinPicContainer {
    height: 94vh;
  }

  .joinCaption {
    top: 36vw;
    left: 11vw;
  }

  .joinViewContainer {
    padding: 6rem 25rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .joinCaption {
    bottom: 22vh;
  }

  .joinViewContainer {
    padding: 5rem 10rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .joinViewContainer {
    padding: 5rem 7rem;
  }

  .joinCaption {
    bottom: 22vh;
  }

  .joinCaption.blur {
    filter: blur(2px);
    bottom: 83.5vh;
  }

  .joinParagraphCaption {
    font-size: 1.4vw;
  }

  .heroImg {
    width: auto;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .joinPicContainer {
    height: 50vh;
  }

  .joinViewContainer {
    padding: 5rem 4rem;
    height: 50vh;
  }

  .joinCaption {
    bottom: 60vh;
  }

  .joinCaption.blur {
    filter: blur(2px);
    bottom: 75.7vh;
  }

  .joinParagraphCaption {
    font-size: 1.4vw;
  }

  #join_us.heroImg {
    width: auto;
  }
}
