.navbar {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
}

.logo {
    width: 100%;
    margin-left: 4rem;
    margin-top: 1rem;
}

.navContainer {
    list-style: none;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4.5rem;
    margin-right: 6rem;
}

.navItem {
    position: relative; /* for the transition */
    cursor: pointer;
    letter-spacing: 1.5px;
}

#black.navItem {
    color: #222222; /* #474747 */
}

#white.navItem {
    color: #ffffff;
}

.navItem::after {
    content: "";
    width: 0;
    height: 0.15rem;
    left: 0;
    bottom: -0.15rem;
    position: absolute;
    transition: width 0.35s ease 0s;
}

#black.navItem::after {
    background-color: #474747;
}

#white.navItem::after {
    background-color: white;
}

.navItem:hover::after {
    width: 100%;
}