.privacyContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.privacyNav {
  height: 8rem; /* 8rem for nav height */
}

.privacyViewContainer {
  color: #474747;
  padding: 4rem 7rem;
  margin: 0 8rem;
  display: flex;
  flex-direction: column;
  word-spacing: 0.1rem;
}

.privacyHeading {
  width: 100%;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
}

.privacyTitle {
  font-size: 1.2vw;
  font-weight: 300;
  margin-top: 1rem;
  font-weight: 700;
}

#terms.privacyTitle {
  margin-top: 3rem;
}

.privacyBody {
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.6vw;
  letter-spacing: 1px;
  margin: 1rem 0;
}

#content.privacyBody {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0,1,0,1);
}

#content.privacyBody.show {
  margin: 1rem 0;
  height: auto;
  max-height: 9999px;
  transition: all 0.4s cubic-bezier(1,0,1,0);
}

#title.privacyBody {
  font-style: italic;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0,1,0,1);
}

#title.privacyBody.show {
  margin: 1rem 0;
  height: auto;
  max-height: 9999px;
  transition: all 0.4s cubic-bezier(1,0,1,0);
}

.privacyItem {
  margin-top: 2rem;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
}

.privacyItemHeading {
  font-size: 1.1vw;
  cursor: pointer;
}

.privacyBlur {
  filter: blur(2px);
  z-index: -1;
}

@media screen and (min-width: 2560px) and (max-width: 3760px) {
  .privacyViewContainer {
    padding: 8rem 7rem;
    margin: 0 15rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .privacyViewContainer {
    padding: 2rem 7rem;
    margin: 0 5rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .privacyViewContainer {
    padding: 1rem 6rem;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .privacyViewContainer {
    padding: 1rem 4rem;
    margin: 0 2rem;
  }
}