@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.servicesNavContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.servicesContainer {
  margin: 5rem 9rem;
  color: #474747;
  font-weight: 300;
  font-size: 1.7rem;
  word-spacing: 0.15rem;
  line-height: 3rem;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.arrow {
  color: #a5a5a5;
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  z-index: 1;
}

.next {
  right: -5%;
  top: 50%;
}

.prev {
  left: -5%;
  top: 50%;
}

.servPicContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.captionContainer {
  position: absolute;
  color: white;
}

#comm.captionContainer {
  width: 32%;
  top: 0;
  margin-left: 10rem;
  margin-top: 37rem;
}

#res.captionContainer {
  width: 46%;
  margin-left: 10rem;
  margin-top: 25rem;
}

#bottom.captionContainer {
  width: 50%;
  margin-top: 3rem;
}

.servCaptionTitle {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

#bottom.servCaptionTitle {
  font-size: 3rem;
  letter-spacing: 3px;
}

.servCaption {
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

#res.servCaption {
  line-height: 3rem;
}

#bottom.servCaption {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 3rem;
  letter-spacing: 1.5px;
}

.commLocContainer {
  position: absolute;
  color: white;
  top: 0;
  margin-left: 3rem;
  margin-top: 60rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.commTextBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#center.commTextBody {
  align-items: center;
  text-align: center;
}

#comm.servTextParagraph {
  margin: 0 3rem;
}

#res.servTextParagraph {
  margin: 0 10rem;
}


.commCTATitle {
  font-weight: 900;
  font-size: 2.1rem;
  margin-top: 3rem;
}

#bottom.commCTATitle {
  margin-top: -2rem;
}

.commButtonContact {
  margin-bottom: 2rem;
}

.servGalleryRedir {
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.servParaTitle {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: -2rem;
  margin-top: 3rem;
}

.commIndentedList {
  margin-left: 5rem;
}

.certs {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.certPic {
  height: 18rem;
}

.resGrass {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resGrass img {
  min-width: 100%;
}

.contractBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}

.contractBox {
  width: 70%;
  height: 22%;
  background-color: white;
  /* position: absolute; */
  /* margin-top: 20rem; */
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contractMUI {
  aspect-ratio: 1 / 1;
  height: 70%;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0 4rem;
}

.contractParagraph {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: #222222;
}

.contractTitle {
  font-weight: 700;
}

.contractCaption {
  font-size: 1.6rem;
  text-align: left;
}