@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.servicesNavContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.servicesContainer {
  margin: 5rem 7rem;
  color: #474747;
  font-weight: 300;
  font-size: 1vw;
  word-spacing: 0.1rem;
  line-height: 2.5vw;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.arrow {
  color: #a5a5a5;
  cursor: pointer;
  position: absolute;
  font-size: 2.5vw;
  z-index: 1;
}

.next {
  right: -5%;
  top: 50%;
}

.prev {
  left: -5%;
  top: 50%;
}

.servicesBlur {
  filter: blur(2px);
  z-index: -1;
}

.captionContainer {
  position: absolute;
  color: white;
}

#comm.captionContainer {
  width: 23%;
  top: 0;
  margin-left: 9vw;
  margin-top: 33vw;
}

#res.captionContainer {
  width: 46%;
  margin-left: 9vw;
  margin-top: -13vw;
}

#bottom.captionContainer {
  width: 60%;
  margin-top: 3vw;
}

.servCaptionTitle {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 2px;
}

#bottom.servCaptionTitle {
  font-size: 2.3vw;
  letter-spacing: 3px;
}

.servCaption {
  font-size: 1.2vw;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

#bottom.servCaption {
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 2vw;
  margin-top: 1.5vw;
  padding: 0 4vw;
  letter-spacing: 1.5px;
}

.commLocContainer {
  position: absolute;
  color: white;
  top: 0;
  margin-left: 3rem;
  margin-top: 43vw;
  letter-spacing: 1px;
  font-size: 0.7vw;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.commTextBody {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

#center.commTextBody {
  align-items: center;
  text-align: center;
}

#paragraph.commTextBody {
  margin: 0 3rem;
}

#center.commTextBody.CTA {
  margin-top: 4rem;
}

.servTextParagraph {
  line-height: 1.6vw;
}

#comm.servTextParagraph {
  width: 105%;
}

#res.servTextParagraph {
  margin: 0 7rem;
}

.commCTATitle {
  font-weight: 900;
  font-size: 1.1vw;
  margin-top: 3rem;
}

#bottom.commCTATitle {
  margin-top: -2rem;
}

.commButtonContact {
  margin-bottom: 2rem;
}

.resButtonContact {
  margin: 2rem 0;
}

#noSpace.resButtonContact {
  margin-bottom: 2rem;
  margin-top: 0;
}

.servGalleryRedir {
  letter-spacing: 0px;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}

.servGalleryRedir:hover {
  color: #7da07d;
}

.servParaTitle {
  font-weight: 700;
  font-size: 1.1vw;
  margin-bottom: -2rem;
  margin-top: 3rem;
}

.servParagraph {
  line-height: 1.6vw;
  padding-right: 3rem;
}

.commIndentedList {
  margin-left: 5rem;
}

.certs {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.certPic {
  height: 12vw;
}

.resGrass {
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}

.resGrass img {
  min-width: 90%;
  height: 45vw;
}

.contractBoxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  margin-top: -2vw;
}

.contractBox {
  width: 45vw;
  height: 8.5vw;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contractParagraph {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: #222222;
  gap: 0.4vw;
}

.contractTitle {
  font-weight: 700;
  font-size: 1.1vw;
}

.contractCaption {
  font-size: 0.9vw;
  line-height: 1.6vw;
}

@media screen and (min-width: 2560px) and (max-width: 3760px) {
  #comm.servTextParagraph {
    margin: 0 1rem;
  }

  #res.servTextParagraph {
    margin: 0 7rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #comm.servTextParagraph {
    width: 115%;
  }

  #paragraph.commTextBody {
    margin: 0 1.5rem;
  }

  #res.servTextParagraph {
    margin: 0 1rem;
  }

  .servParaTitle {
    margin-bottom: -1rem;
  }

  #bottom.servCaption {
    padding: 0 1.5vw;
  }

  #bottom.captionContainer {
    width: 61%;
  }

  .contractBoxContainer {
    gap: 2vw;
    margin-top: -2vw;
  }

  .contractBox {
    height: 9vw;
  }

  #bottom.commCTATitle {
    margin-top: -3rem;
  }

  .commButtonContact {
    margin-bottom: 1rem;
  }

  .certs {
    margin-bottom: -3rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .servicesContainer {
    margin: 5rem 2rem;
    font-size: 1.1vw;
  }

  #paragraph.commTextBody {
    margin: 0 4rem;
  }

  .commCTATitle {
    font-size: 1.3vw;
  }

  .servParaTitle {
    margin-bottom: -1rem;
    margin-top: 3rem;
  }
  
  .certPic {
    height: 15vw;
  }

  #res.servTextParagraph {
    margin: 0 2rem;
  }

  #bottom.servCaption {
    line-height: 1.8vw;
    letter-spacing: 1px;
    word-spacing: 0.5px;
  }

  .contractTitle {
    font-size: 1.2vw;
  }
  
  .contractCaption {
    font-size: 1vw;
  }

  .navigateButton {
    font-size: 1.1vw;
    width: 12vw;
    height: 3vw;
  }

  #bottom.commButtonContact {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .servCaptionTitle {
    letter-spacing: 1px;
  }
  
  .servCaption {
    letter-spacing: 0.5px;
    margin-top: 0.3rem;
  }

  .servicesContainer {
    margin: 3rem 5rem;
    font-size: 1.2vw;
  }

  .servGalleryRedir {
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-top: 1rem;
  }

  #paragraph.commTextBody {
    margin: 0 0;
  }

  .commCTATitle {
    font-size: 1.3vw;
    margin-top: 2rem;
    word-spacing: 1px;
  }

  .servParaTitle {
    margin-bottom: -0.5rem;
    margin-top: 2rem;
    font-size: 1.3vw;
  }
  
  .servParagraph {
    padding-right: 2rem;
  }
  
  .certPic {
    height: 15vw;
  }

  #res.servTextParagraph {
    margin: 0 2rem;
  }

  #bottom.captionContainer {
    width: 70%;
  }  

  #bottom.servCaption {
    line-height: 1.8vw;
    letter-spacing: 1px;
    word-spacing: 0.5px;
  }

  .contractTitle {
    font-size: 1.2vw;
  }
  
  .contractCaption {
    font-size: 1vw;
  }

  .navigateButton {
    font-size: 1.1vw;
    width: 12vw;
    height: 3vw;
  }

  #bottom.commButtonContact {
    margin-bottom: 0;
  }
}